{% extends 'base.html.twig' %}

{% block title %}
	{{ app.user.firstname }}
	{{ app.user.lastname}}
{% endblock %}

{% block body %}
    <section class="col-12" id="students_infos">
        <div class="text-center">
            <h1>Bienvenu <span
                class="text-uppercase text-primary">{{ app.user.lastname }}</span>
            </h1>
        </div>
        <article class="alert alert-info ">
            <figure class="row  d-flex justify-content-between align-items-center gap-2">
                <img src="{{ asset('images/profiles/avatar.png') }}" alt="image de profile de {{ app.user.lastname }}{{ app.user.firstname }}" width="100" heigth="auto" class="col rounded-circle">
                <figcaption class="col-8">
                    <h3>{{ app.user.lastname }} {{ app.user.firstname }}</h3>
                    <p>Ceci est votre pge d'accueil, Bienvenu parmis nous</p>
                </figcaption>
            </figure>
        </article>
        <article class="text-center bg-warning rounded-2">
            <h2>Informations générales</h2>
            <p class="fs-2">Prochaines vacances du 05 mai au 15 mai</p>
        </article>
        <div class="col-12">
            {% if parents is not empty %}
                {% for parent in parents %}
                    <article class="alert alert-danger">
                        <h2 class="fs-1"><span
                            class="text-uppercase">Responsable : {{ parent.lastname }} {{ parent.firstname }}</span>
                        </h2>
                        <h3 class="text-fs-4">{{ parent.email }}</h3>
                        <p>Votre responsable en cas de problème et recevra aussi les factures obligatoires</p>
                    </article>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    <p>Vous n'avez aucun responsable. Il est obligatoire d'ajouter au moins un</p>
                    <div class="text-center">
                        <a class="btn btn-primary" href="{{ path('app_add_parent') }}">Ajouter un responsable</a>
                    </div>
                </div>
            {% endif %}
            {% for classe in classes %}
                <article class="alert alert-primary">
                    <h2 class="fs-1"><span
                            class="text-uppercase">Class : {{ classe.name }}</span>
                    </h2>
                    <h3>Niveau: {{ classe.level }}</h3>
                </article>
            {% endfor %}
            {% if app.user.results is not empty and app.user.courses is not empty %}
                {% for cours in app.user.courses %}
                    <article class="alert alert-secondary rounded-5 p-3 my-3">
                        <h2>{{ cours.name }}</h2>
                    </article>
                {% endfor %}
                {% for result in app.user.results %}
                    <article class="alert alert-info rounded-5 p-3 my-3">
                        <h2>{{ result.note }} : / 20 ( par QCM )</h2>
                        <h3>{{ result.monthly }} : / 20 ( par Mois )</h3>
                        <h4>{{ result.yearly }} : / 20 ( par An )</h4>
                    </article>
                    <article class="alert alert-danger rounded-5 p-3 my-3">
                        <h2>{{ result.remark }}</h2>
                    </article>
                {% endfor %}
            {% else %}
                <article class="alert alert-info rounded-5 p-3 my-3">
                    <h2>Aucune classe affectée pour l'instant et aucun résultat enregistré.</h2>
                </article>
            {% endif %}
        </div>
    </section>
    <section class="col-12 alert alert-warning">
        <h2 class="fs-1 text-center text-uppercase my-3">Contactez la secrétaire</h2>
        <div class="" id="contact">
            {{ form_start(studentMessage) }}
            <div class="fs-2 my-2">
                {{ form_row(studentMessage.subject) }}
            </div>
            <div class="fs-2 my-2">
                {{ form_row(studentMessage.message) }}
            </div>
            <div class="text-center my-3">
                {{ form_row(studentMessage.gpdr) }}
            </div>
            <div class="text-center my-3">
                {{ form_row(studentMessage.envoyer) }}
            </div>
            {{ form_end(studentMessage) }}
        </div>
    </section>
{% endblock %}
