<h1>{{ nom }} {{ prénom }} Vous avez été ajouter étant que Responble</h1>
<p>
    Ceci est un message vous confirmant votre rôle de responble de l'élève {{ nom_eleve }} {{ prenom_eleve }}, et votre email est <span> {{ parent_email }} </span> dans le cadre de l'amélioration de notre systèmem de paiement. Cela vous permettra de payer certains frais non-lié au frais scolaire ( exemple : frais de la cantine et autres)
</p>
<p>
    Vous pouvez uliser votre espace personnel avec l'email ajouter par votre enfant et ce mot de passe <strong> {{ password }} </strong>initiale que vous devez obligatoirement changer pour votre sécurité et celle de notre école.
</p>