{% extends 'base.html.twig' %}

{% block title %}Espace Enseignant{% endblock %}

{% block body %}

    <section class="row">
        <div class="col-11 col-md-11 m-auto alert alert-secondary">
            <div class="my-3 text-center">
                <h1 class="fs-1 text-uppercase text-primary">Affections des élèves</h1>
            </div>
            <div>
                {{ form_start(form) }}
                <div class="fs-2 my-3">
                    {{ form_row(form.name) }}
                </div>
                <div class="fs-2 my-3">
                    {{ form_row(form.day) }}
                </div>
                <div class="fs-2 my-3">
                    {{ form_row(form.coefficient) }}
                </div>
                <div class="fs-2 my-3">
                    {{ form_row(form.startedAt ) }}
                </div>
                <div class="fs-2 my-3">
                    {{ form_row(form.endAt ) }}
                </div>
                <div class="fs-2 my-3">
                    {{ form_row(form.room) }}
                </div>
                <div class="fs-3 my-3">
                    {{ form_row(form.ressources) }}
                </div>
                <div class="fs-3 my-3">
                    {{ form_row(form.subjects) }}
                </div>
                <div class="fs-4 my-3">
                    {{ form_row(form.users) }}
                </div>
                <div class="fs-4 my-3">
                    {{ form_row(form.classes) }}
                </div>
                <div class="text-center my-3">
                    {{ form_row(form.ajouter) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
