{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row">
        <form method="post" class="col-8 m-auto alert alert-primary login-form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="fs-1 text-center text-uppercase text-primary my-3">Connection</h1>
            <div>
                <label class="fs-2 my-3" for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username"
                       class="form-control fs-3 my-3"
                       autocomplete="email" required autofocus placeholder="Email address">
            </div>
            <div>
                <label class="fs-2 my-3 text-uppercase" for="password">Password</label>
                <input type="password" name="_password" id="password" class="fs-3 form-control fs-2"
                       autocomplete="current-password"
                       required placeholder="Password">
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
                       value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="text-center my-3">
                <button class="btn btn-primary fs-3" type="submit">
                    Sign in
                </button>
            </div>

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
            #}


        </form>
    </div>
{% endblock %}
