{# Étend le template de base appelé "base.html.twig" #}
{% extends 'base.html.twig' %}

{# Définit le titre de la page dans le bloc "title" #}
{% block title %}page d'accueil{% endblock %}

{# Début du bloc principal "body" qui contient tout le contenu visible #}
{% block body %}
    {# SECTION: Titre principal de la page #}
    <section class="row">
        <div class="col-12 text-center my-3">
            <h1 class="fs-1 text-uppercase fw-semibold">Tech-School</h1>
        </div>

        {# SECTION: Carousel (diaporama d’images) #}
        <div id="carousel" class="carousel slide">
            {# Boutons de navigation du carousel #}
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>

            {# Contenu du carousel (images) #}
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('images/slide/image_d_une_salle_de_cours.png') }}" class="d-block w-100"
                         alt="Image d'une salle de cours générée par l'IA" width="100%" height="auto">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/slide/image_de_la_salle_informatique.png') }}" class="d-block w-100"
                         alt="Image d'une salle informatique générée par l'IA" width="100%" height="auto">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/slide/image_du_laboratoire.png') }}" class="d-block w-100"
                         alt="Image d'un laboratoire générée par l'IA" width="100%" height="auto">
                </div>
            </div>

            {# Flèches de navigation du carousel #}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    {# SECTION: À propos de l’école #}
    <section class="row" id="a-propos">
        <div class="text-center col-12 my-3">
            <h2 class="fs-2 text-uppercase fw-semibold">A propos</h2>
        </div>
        <div class="col-11 m-auto">
            <div class="row justify-content-between">
                {# Article 1 : Mission #}
                <article class="col-md-5 card mb-3">
                    <img class="card-image" src="{{ asset('images/real/entree_principale.png') }}"
                         alt="Image des écoliers" width="100%" height="auto">
                    <div class="card-body">
                        <h2 class="card-title fs-2 text-uppercase">Notre Mission</h2>
                        <p class="card-text fs-3">Offrir un accès numérique simple à l’éducation pour tous.</p>
                        <div class="text-center my-2">
                            <a class="fs-3 btn btn-primary" href="{{ path('app_about') }}">Savoir plus</a>
                        </div>
                    </div>
                </article>

                {# Article 2 : Équipe #}
                <article class="col-md-5 card mb-3">
                    <img class="card-image" src="{{ asset('images/real/un_proffesseur_prepare_le_cours.png') }}"
                         alt="Image des écoliers" width="100%" height="auto">
                    <div class="card-body">
                        <h2 class="card-title fs-2 text-uppercase">Notre équipe</h2>
                        <p class="card-text fs-3">Des experts passionnés par l’innovation dans le domaine
                            éducatif.</p>
                        <div class="text-center my-2">
                            <a class="fs-3 btn btn-primary" href="{{ path('app_about') }}">Savoir plus</a>
                        </div>
                    </div>
                </article>

                {# Article 3 : Plateforme #}
                <article class="col-md-5 card mb-3">
                    <img class="card-image" src="{{ asset('images/real/image_de_salle.png') }}"
                         alt="Image des écoliers" width="100%" height="auto">
                    <div class="card-body">
                        <h2 class="card-title fs-2 text-uppercase">Notre plateforme</h2>
                        <p class="card-text fs-3">Un espace sécurisé, collaboratif et accessible pour chaque
                            élève.</p>
                        <div class="text-center my-2">
                            <a class="fs-3 btn btn-primary" href="{{ path('app_about') }}">Savoir plus</a>
                        </div>
                    </div>
                </article>

                {# Article 4 : Valeurs #}
                <article class="col-md-5 card mb-3">
                    <img class="card-image" src="{{ asset('images/real/bureau_cordinateur.png') }}"
                         alt="Image des écoliers" width="100%" height="auto">
                    <div class="card-body">
                        <h2 class="card-title fs-2 text-uppercase">Nos valeurs</h2>
                        <p class="card-text fs-3">Inclusion, innovation, engagement et excellence au service des
                            apprenants.</p>
                        <div class="text-center my-2">
                            <a class="fs-3 btn btn-primary" href="{{ path('app_about') }}">Savoir plus</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    {# SECTION: Activités proposées par l’école #}
    <section class="row" id="activities">
        <div class="text-center col-12 my-3">
            <h2 class="fs-2 text-uppercase fw-semibold">Nos activites</h2>
        </div>

        {# Plusieurs activités regroupées par ligne #}
        <div class="col-12">
            <div class="main-activity">
                {# Activité 1 : Sciences #}
                <article class="col-md-4 alert alert-primary mb-3 text-center" id="atom">
                    <div>
                        <svg class="py-3" width="100" height="100">
                            <use href="{{ asset('images/sprites.svg') }}#atom"></use>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title fs-1">Sciences et découvertes</h2>
                        <p class="card-text fs-4">Explorer le monde avec curiosité, logique et méthode.</p>
                    </div>
                </article>

                {# Activité 2 : Cours interactifs #}
                <article class="col-md-4 alert alert-danger mb-3 text-center" id="game">
                    <div>
                        <svg class="py-3" width="100" height="100">
                            <use href="{{ asset('images/sprites.svg') }}#present"></use>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title fs-1">Enseignement interactif</h2>
                        <p class="card-text fs-4">Apprendre ensemble grâce à des cours vivants et engageants.</p>
                    </div>
                </article>

                {# Activité 3 : Travail en groupe #}
                <article class="col-md-4 alert alert-info mb-3 text-center" id="plane">
                    <div>
                        <svg class="py-3" width="100" height="100">
                            <use href="{{ asset('images/sprites.svg') }}#people"></use>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title fs-1">Travail collaboratif</h2>
                        <p class="card-text fs-4">Développer l'esprit d'équipe à travers des projets communs.</p>
                    </div>
                </article>
            </div>
        </div>

        {# Deuxième ligne d’activités #}
        <div class="col-12">
            <div class="main-activity">
                {# Activité 4 : Sport #}
                <article class="col-md-4 alert alert-secondary mb-3 text-center" id="swim">
                    <div>
                        <svg class="py-3" width="100" height="100">
                            <use href="{{ asset('images/sprites.svg') }}#swim"></use>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title fs-1">Activités sportives</h2>
                        <p class="card-text fs-4">Éveiller le corps et l’esprit par le jeu et le mouvement.</p>
                    </div>
                </article>

                {# Activité 5 : Stratégie #}
                <article class="col-md-4 alert alert-success mb-3 text-center" id="walk">
                    <div>
                        <svg class="py-3" width="100" height="100" fill="darkblue">
                            <use href="{{ asset('images/sprites.svg') }}#game"></use>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title fs-1">Esprit stratégique</h2>
                        <p class="card-text fs-4">Stimuler la réflexion par des jeux logiques et tactiques.</p>
                    </div>
                </article>

                {# Activité 6 : Ouverture au monde #}
                <article class="col-md-4 alert alert-dark mb-3 text-center" id="swim2">
                    <div>
                        <svg class="py-3" width="100" height="100">
                            <use href="{{ asset('images/sprites.svg') }}#plane"></use>
                        </svg>
                    </div>
                    <div class="car-body">
                        <h2 class="card-title fs-1">Ouverture sur le monde</h2>
                        <p class="card-text fs-4">Découvrir d’autres cultures et élargir ses horizons.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    {# SECTION: Partenaires de l’école #}
    <section class="row" id="partners">
        <div class="text-center col-12 my-3">
            <h2 class="fs-2 text-uppercase fw-semibold">Nos partenaires</h2>
        </div>
        <div class="col-12">
            <div class="partners">
                {# Partenaire 1 #}
                <article class="col-md-4 alert alert-secondary rounded-5">
                    <figure class="">
                        <div class="text-center">
                            <img src="{{ asset('images/partenaire/edu_connect_logo.png') }}"
                                 alt="logo d'un partenaire" width="100%" height="auto">
                        </div>
                        <figcaption class="">
                            <h3 class="fs-2">EduConnect</h3>
                            <p class="fs-4">Technologie éducative.</p>
                        </figcaption>
                    </figure>
                </article>

                {# Partenaire 2 #}
                <article class="col-md-4 alert alert-secondary rounded-5">
                    <figure class="">
                        <div class="text-center">
                            <img src="{{ asset('images/partenaire/livreo_logo.png') }}" alt="logo d'un partenaire"
                                 width="100%" height="auto">
                        </div>
                        <figcaption>
                            <h3 class="fs-2">Livreo</h3>
                            <p class="fs-4">Ressources pédagogiques.</p>
                        </figcaption>
                    </figure>
                </article>

                {# Partenaire 3 #}
                <article class="col-md-4 alert alert-secondary rounded-5">
                    <figure class="">
                        <div class="text-center">
                            <img src="{{ asset('images/partenaire/inno_class_logo.png') }}"
                                 alt="logo d'un partenaire" width="100%" height="auto">
                        </div>
                        <figcaption class="">
                            <h3 class="fs-2">InnoClass</h3>
                            <p class="fs-4">Solutions innovantes.</p>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
    </section>

    {# SECTION: Présentation de l’équipe enseignante #}
    <section class="row" id="team">
        <div class="text-center col-12 my-3">
            <h2 class="fs-2 text-uppercase fw-semibold">Nos équipes</h2>
        </div>
        <div class="col-12">
            <div class="team">
                {# Professeur de chimie #}
                <article class="col-12 col-md-4 col-lg-3 alert alert-info m-auto mb-2">
                    <figure class="row">
                        <img class="col-6 col-md" src="{{ asset('images/equip/professor_chemistry.jpg') }}"
                             alt="Image du professeur de chimie" width="100%" height="auto">
                        <figcaption class="col-6 m-auto">
                            <h3>Professeur de chimie</h3>
                            <h4>Esther Clair</h4>
                        </figcaption>
                    </figure>
                </article>

                {# Professeur de Math #}
                <article class="col-12 col-md-4 col-lg-3 alert alert-success m-auto mb-2">
                    <figure class="row">
                        <img class="col-6 col-md" src="{{ asset('images/equip/professor_math.jpg') }}"
                             alt="L'image du professeur de Math" width="100%" height="auto">
                        <figcaption class="col-6 m-auto">
                            <h3>Professeur de Math</h3>
                            <h4>Pauline Marie</h4>
                        </figcaption>
                    </figure>
                </article>

                {# Directeur #}
                <article class="col-12 col-md-4 col-lg-3 alert alert-primary m-auto mb-2">
                    <figure class="row">
                        <img class="col-6 col-md" src="{{ asset('images/equip/director.jpg') }}"
                             alt="L'image du directeur" width="100%" height="auto">
                        <figcaption class="col-6 m-auto">
                            <h3 class="">Directeur</h3>
                            <h4>Patrick Erick</h4>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
    </section>

    {# SECTION: Carte de localisation Google Maps #}
    <section class="row" id="address">
        <div class="text-center col-12 my-3">
            <h2 class="fs-2 text-uppercase fw-semibold">Notre Localisation</h2>
        </div>
        <div class="col-12 m-auto">
            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=..." width="600" height="450"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>

    {# SECTION: Formulaire de contact #}
    <section class="row" id="contact">
        <div class="text-center col-12 my-3">
            <h2 class="fs-2 text-uppercase fw-semibold">Contact</h2>
        </div>
        <div class="col-11 m-auto alert alert-info">
            {{ form_start(formContact) }}
            <div class="mb-3 fs-2">
                {{ form_row(formContact.email) }}
            </div>
            <div class="invalid-feedback">
                L'email n'est pas valide
            </div>
            <div class="mb-3 fs-2">
                {{ form_row(formContact.subject) }}
            </div>
            <div class="invalid-feedback">
                Le sujet n'est pas valide
            </div>
            <div class="mb-3 fs-2">
                {{ form_row(formContact.message) }}
            </div>
            <div class="invalid-feedback">
                Le message n'est pas valide
            </div>
            <div class="mb-3">
                {{ form_row(formContact.gpdr) }}
            </div>
            <div class="invalid-feedback">
                Veuillez cochez cette case
            </div>
            <div class="my-3 text-center">
                {{ form_row(formContact.Envoyer) }}
            </div>
            {{ form_end(formContact) }}
        </div>
    </section>

    {# Bouton pour remonter en haut de page #}
    {# <div id="upButton">
            <a class="btn" href="{{ path('app_main') }}">
                <svg class="py-3" width="100" height="100">
                    <use href="{{ asset('images/sprites.svg') }}#upButton"></use>
                </svg>
            </a>
        </div> #}

{% endblock %}
