<div class="container-fluid">
	<ul class="list-unstyled d-flex gap-4 align-items-center m-0">
		<li>
			<a class="text-decoration-none fs-3" href="{{ path('app_admin') }}">Tous afficher</a>
		</li>
		<li>
			<a class="text-decoration-none fs-3" href="{{ path('app_about') }}">Apropos</a>
		</li>
		<li>
			<a class="text-decoration-none fs-3" href="{{ path('app_register') }}">Signup</a>
		</li>
		<li>
			<a class="text-decoration-none fs-3" href="{{ path('app_login') }}">Login</a>
		</li>
		<li>
			<a class="text-decoration-none fs-3" href="{{ path('app_main') }}#contact">Contact</a>
		</li>
	</ul>
</div>
